<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JTJ</title>
</head>
<body>
    <div class="container">
    <div class="nav-button">
        <button class="menu-toggle">Menu</button>
    </div><!--nav-button-->
    <div class="nav-wrapper"><!--for fixed nav-->
        <nav class="flexNav">
            <a class="current" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="articles.html">Articles</a>
            <a href="https://jy16.github.io/">Portfolio</a>
        </nav>
    </div>
    <header>
        <h1>Journey Through JavaScript</h1>
        <p>and Sass, React, and Node, Python, PHP,...</p>
    </header>
    <div class="inner-wrapper">

        <div class="inner">
            <section class="latest-post">
                <div class="post been-a-while" id="javascript php react sass">
                    <div class="title">
                        <h2>It's Been A While</h2>
                    </div>
                    <div class="date">
                        <p>July 25, 2017</p>
                    </div>
                    <div class="article">
                        <p>
                            Hello. It's been a while. I had gotten a subscription to Lynda.com and have been
                            spending all of my free time their website. I've been learning node, webpack, npm
                            scripts, React, more JavaScript, babel, as well as a little PHP and MySQL. I really
                            enjoy working node, webpack, npm, etc. It's different from just using HTML, CSS, and
                            JavaScript and I am almost ready to move in that direction. I've been spending a lot
                            of time learning, but now I need to actually apply everything that I have learned and
                            make something. I'v been a little confused about the route that I should take. Should
                            I focus on React and all that it entails or PHP and MySQL. I know that eventually I am
                            going to be working with databases. So, I had decided to split my time between learning
                            React and learning PHP/MySQL. Between Lynda.com and Pluralsight, I have some pretty
                            good learning resources.
                        </p>
                        <p>
                            I spend a lot of time learning. I'm a learner. It seems that I'm always either learning
                            something or wanting to learn something. Most of the time, however, I tend to not apply
                            it right them. It may be because I don't know what to do with it at the time or while I
                            was learning it I came across something that I didn't understand and decided to
                            cross-reference. Then I realize I'm now learning something different than what I was
                            initially learning. For example, before I had a Lynda.com subscription, I was trying to
                            learn React. I found out that I should know at least a little about node, so I look
                            into node. Then node is talking about HTTP requests. So I try to learn about HTTP. Now,
                            that's not necessarily a bad thing but I didn't want to get too far away from what I
                            was initially learning, React. So, my goal is to make something. I need to show what I
                            can do.
                        </p>
                        <p>
                            I did a minor update to the blog, but I am not yet finished. There's more that I want
                            to do to it. I will also be updating my portfolio and adding more relevant projects
                            and things. I have decided to remove Sugar Sugar and just focus on updating this blog
                            as I learn and go further in Web Development. I've been learning more about Git and
                            Sass and will be using them more so that I will get used to using them.
                        </p>
                        <p>
                            I've got a lot to do. Hopefully, this week I will have something to show for all of the
                            time I've been spending learning. Until next time.
                        </p>
                    </div>
                </div>
            </section>
            <!--<div class="section-spacer"><p>More Articles</p></div>-->
            <section class="more-articles-wrapper">
            <div class="more-articles">
                <div class="post">
                    <div class="bg-image-container been-doing"></div>
                    <div class="date-title-p">
                        <div class="title">
                            <p class="title">What I've Been Doing</p>
                            <p class="date">June 1, 2017</p>
                        </div>
                        <p>
                            Hello! Since Memorial Day weekend, I've been learning some Python, Bootstrap 4,
                            accessibility,
                            abd object-oriented JavaScript.
                        </p>
                        <div class="rd-more"><a href="what-i-have-been-doing.html">Read</a></div>
                    </div>
                </div>
                <div class="post gsap">
                    <div class="bg-image-container gsap"></div>
                    <div class="date-title-p">
                        <div class="title">
                            <p class="title">Playing with Some GSAP Animations</p>
                            <p class="date">May 23, 2017</p>
                        </div>
                        <p>
                            Over the weekend I was looking at some GSAP Animation tutorials. GSAP was not as hard to get
                            started with as I thought it would be.
                        </p>
                        <div class="rd-more"><a href="what-i-have-been-doing.html">Read</a></div>
                    </div>
                </div>
            </div>
        </section>

        </div><!--.inner-->
        <aside>
                <div class="aside-sec">
                    <div class="aside-content social-info">
                        <div class="social"><a href="https://twitter.com/jamey_ya"><i class="fa fa-twitter"
                                                                                    aria-hidden="true"></i></a></div>
                        <div class="social"><a href="http://www.linkedin.com/in/jamie-y-936539121"><i class="fa fa-linkedin"
                                                                                                    aria-hidden="true"></i></a>
                        </div>
                        <div class="social"><a href="mailto:email@email.com"><i class="fa fa-envelope-o"
                                                                                aria-hidden="true"></i></a></div>
                        <div class="social"><a href="http://codepen.io/jy16/"><i class="fa fa-codepen"
                                                                                aria-hidden="true"></i></a></div>
                        <div class="social"><a href="https://github.com/JY16"><i class="fa fa-github"
                                                                                aria-hidden="true"></i></a></div>
                    </div>
                    <div class="aside-content related">
                        <div>
                            <a href="articles.html#javascript">JavaScript</a>
                        </div>
                        <div>
                            <a href="articles.html#react">React</a>
                        </div>
                        <div>
                            <a href="articles.html#css">CSS</a>
                        </div>
                        <div>
                            <a href="articles.html#sass">Sass</a>
                        </div>
                        <div>
                            <a href="articles.html#python">Python</a>
                        </div>
                        <div>
                            <a href="articles.html#php">PHP</a>
                        </div>
                    </div>
                    <!--<div class="aside-content related-articles">
                        <div class="rel-wrapper">
                            <div class="rel-art-1 image-container"></div>
                            <div class="rel-art-info"><a href="#"><p>Article Title</p><p>Link To Article</p></a></div>
                        </div>
                        <div class="rel-art-2 image-container">
                            <p>Link To Article</p>
                        </div>
                        <div class="rel-art-3 image-container">
                            <p>Link To Article</p>
                        </div>
                    </div><!--.related-articles-->
                </div>
            </aside>
    </div><!--.inner-wrapper-->
    <footer>
        <p>&copy; 2017 Jamie Y</p>
    </footer>
</div><!--.container-->
</body>
</html>
