body {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-family: 'Lora', serif;
  font-size: 3rem;
  text-align: center; }

p, h2, h3, a {
  font-family: 'Crimson Text', serif; }

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal; }

h3 {
  font-size: 1.5rem; }

p, a {
  font-size: 1.2rem; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%; }
  header p {
    color: #2aa1c0;
    font-size: 1.3rem;
    text-align: center; }

/***********************************************************************************************************************
                                                         Nav
***********************************************************************************************************************/
.flexNav {
  background-color: rgba(178, 0, 0, 0.9);
  height: 40vh;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1rem;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  /*order: -1;*/
  align-self: flex-end;
  width: 100%; }
  .flexNav a {
    text-decoration: none;
    color: #e6e6e6;
    padding: 5px;
    transition: all 0.3s ease-in-out; }
    .flexNav a:hover {
      color: #0e647d; }

.nav-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2aa1c0;
  /*order: -1;*/
  align-self: flex-end;
  margin-bottom: .5em; }

.menu-toggle {
  padding: 1em;
  background-color: #b20000;
  color: #e6e6e6;
  border: none;
  font-size: 1em; }

.open nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/***********************************************************************************************************************
                                                   Home Page Styles
***********************************************************************************************************************/
.inner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

section {
  width: 90%;
  align-self: center; }
  section .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section .post .article p {
      text-indent: 1.5em;
      line-height: 1.9; }
    section .post .article a {
      color: #6a0000;
      text-decoration: none;
      transition: all 0.3s ease-in-out; }
      section .post .article a:hover {
        color: #2aa1c0;
        text-decoration: underline; }
    section .post .rd-more {
      text-align: right; }
      section .post .rd-more a {
        margin-right: .3em; }

.more-articles {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .more-articles .post {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    border: 1px dotted red;
    line-height: 1;
    margin-bottom: 1em; }
    .more-articles .post .bg-image-container {
      display: none; }
    .more-articles .post .date-title-p {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .more-articles .post .date-title-p .date, .more-articles .post .date-title-p .title {
        width: 90%;
        text-align: center; }
      .more-articles .post .date-title-p .date {
        font-size: 1em; }
      .more-articles .post .date-title-p p {
        width: 90%; }
      .more-articles .post .date-title-p a {
        color: #6a0000;
        transition: all 0.3s ease-in-out; }
        .more-articles .post .date-title-p a:hover {
          color: #2aa1c0; }
  .more-articles .gsap {
    height: 280px; }

aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6a0000; }

/*********************************************
                Aside Social
 ********************************************/
.social-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em; }
  .social-info .social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5em;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out; }
    .social-info .social:last-of-type {
      margin-right: 0; }
    .social-info .social i {
      color: #fff;
      transition: all 0.3s ease-in-out; }
    .social-info .social:hover i {
      color: #0e647d; }
    .social-info .social:hover {
      border: 2px solid #0e647d; }

/*********************************************
                Aside Articles
*********************************************/
.related {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em; }
  .related a {
    color: #e6e6e6;
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    .related a:hover {
      color: #2aa1c0; }

/***********************************************************************************************************************
                                                   About Page Styles
***********************************************************************************************************************/
.about {
  width: 90%; }
  .about p {
    text-indent: 1.5em;
    line-height: 1.9; }

/***********************************************************************************************************************
                                                   Articles Page Styles
***********************************************************************************************************************/
.inner-wrapper .categories {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .inner-wrapper .categories .art-cate {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .inner-wrapper .categories .art-cate a {
      color: #6a0000;
      text-decoration: none; }
      .inner-wrapper .categories .art-cate a:hover {
        color: #2aa1c0; }
.inner-wrapper .related h3 {
  color: #e6e6e6; }
.inner-wrapper .related div {
  display: flex;
  flex-direction: column; }

/*********************************************
                    Footer
 ********************************************/
footer {
  width: 100%;
  color: #e6e6e6;
  background-color: #000;
  text-align: center;
  height: 100%; }
  footer p {
    font-size: 1rem; }

/***********************************************************************************************************************
                                           Media Queries
***********************************************************************************************************************/
@media (min-width: 764px) {
 /****************************************
       More Articles Media Query
****************************************/
  .more-articles {
    align-items: center;
    justify-content: center; }
    .more-articles .post {
      width: 60%; } }
@media (min-width: 1024px) {
  /****************************************
              Nav Media Query
  ****************************************/
  .menu-toggle {
    display: none; }
    /*.container {
        position: relative;
    }*/
    .nav-wrapper {
        position: fixed;
        width: 100%;
    }
    header {
        border-bottom: 5px solid #0e647d;
        margin-top: 2em;
    }

  .flexNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #222222;
    height: 2.7em;
 }
    .flexNav a {
      color: #e6e6e6;
      text-decoration: none;
      margin: .5em;
        font-size: 1em;
    }
      .flexNav a:hover {
        color: #2aa1c0; }
    .flexNav .current {
      color: #2aa1c0; }

  /****************************************
           More Articles Media Query
  ****************************************/
  .more-articles .post {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    border: none;
    border: 1px dotted red;
    line-height: 1;
    margin-bottom: 1em; }
    .more-articles .post .bg-image-container {
      display: block;
      width: 30%;
      height: 90%;
      background-size: cover;
      margin: 1em; }
    .more-articles .post .been-doing {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/symbol-300.png") center center no-repeat; }
    .more-articles .post .gsap {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/javascript-300.png") center center no-repeat; }
    .more-articles .post .been-a-while {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/code-533.png") center center no-repeat; }
    .more-articles .post .date-title-p {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%; }
      .more-articles .post .date-title-p .date, .more-articles .post .date-title-p .title {
        width: 90%;
        text-align: center; }
      .more-articles .post .date-title-p .date {
        font-size: 1em; }
      .more-articles .post .date-title-p p {
        width: 90%; }
      .more-articles .post .date-title-p a {
        color: #6a0000;
        transition: all 0.3s ease-in-out; }
        .more-articles .post .date-title-p a:hover {
          color: #2aa1c0; }
  .more-articles .gsap {
    height: 250px; } }
@media (min-width: 1200px) {
    .inner section, .about {
        width: 70%;
    }

    /*.inner section{
        width: 70%;
    }*/
    /****************************************
              Home Media Query
    ****************************************/
    .inner-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .inner-wrapper section {
        margin-top: 2em;
    }

    .inner-wrapper aside {
        /*position: ;*/
        width: 30%;
        height: auto;
    }

    .inner-wrapper aside .aside-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .aside-content {
        margin-bottom: 2em;
        width: 80%;
    }

    .rel-wrapper {
        display: flex;
    }

    .related-articles .image-container {
        width: 40%;
        height: 100px;
    }

    .rel-art-info {
        display: flex;
        flex-direction: column;
    }

    /*.section-spacer {
        width: 70%;
        background-color: #6a0000;
        align-self: center;
        border-radius: 30px;
    }



    .section-spacer p {
        color: #e6e6e6;
        text-align: center;
    }*/

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .latest-post {
        margin-bottom: 5em;
    }

    .more-articles-wrapper {
        margin-top: 10em;
    }

    .more-articles .post {
        transition: all .3s ease-in-out;
    }

    .more-articles .post:hover {
        background-color: rgba(178, 0, 0, 0.5);
        border-radius: 15px;
        border: none;
    }

    .more-articles .post .date-title-p .rd-more {
        width: 25%;
        height: 1.5em;
        background-color: #6a0000;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        align-self: flex-end;
        border: 2px solid #6a0000;
    }

    .more-articles .post .date-title-p .rd-more a {
        color: #e6e6e6;
        text-decoration: none;
    }

    aside .social-info .social {
        width: 30px;
        height: 30px;
    }

    .related-articles {
        height: auto;
        align-self: center;
        margin-top: 1em;
    }

    .related-articles div {
        width: 100%;
        height: 200px;
        margin-bottom: 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    footer .social-info {
        /*align-self: center;*/
        width: 30%;
    }

    footer .social-info .social {
        width: 30px;
        height: 30px;
        border-width: 1px;
    }

    footer .social-info .social:hover {
        border-width: 1px;
    }

    .footer-title {
        width: 40%;
        /*width: 30%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-title p {
        font-size: 1.3em;
    }

    footer .learning {
        width: 30%;
        /*align-self: center;*/

    }
    .learning ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .learning li {
        list-style-type: none;
        line-height: 1.5;
    }

    .learning li:hover {
        color: #6a0000;
        cursor: pointer;
    }

    footer .copyright {
        align-self: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6a0000;
    }
}
